<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="layouts/defaultTemplate.html">
<head>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.min.js" integrity="sha384-+sLIOodYLS7CIrQpBjl+C7nPvqq+FbNUBDunl/OZv93DB7Ln/533i8e/mZXLi/P+" crossorigin="anonymous"></script>
	<script language="JavaScript">
		// Got code from https://stackoverflow.com/questions/895171/prevent-users-from-submitting-a-form-by-hitting-enter
		$(document).ready(function() {
  			$(window).keydown(function(event){
    			if(event.keyCode == 13) {
      				event.preventDefault();
      				return false;
    			}
  			});
		})

		// Got code from https://stackoverflow.com/questions/53745808/use-javascript-to-change-the-href-tag-depending-on-input-field
		function searching() {
			var searchTerm = document.getElementById("searchTerm").value;
				window.location.href="/products/search/" + searchTerm;
		}
	</script>
<style>
	* {
		font-family: Arial;
	}
	h2 {
		color:blue;
	}
	p {
		font-style: italic;
	}
	table, th, td {
		border: 1px solid black;
		border-collapse: collapse;
		padding:2px;
	}
	#searchBar{
		width:300px;
	}
	#actionButton{
		margin-left: 10px;
		margin-right: 10px;
	}	
</style>
</head>
	<body layout:fragment="content">
		<h1 th:text="${title}"></h1>
			<div class="input-group mb-3" id="searchBar">
				<input id="searchTerm" type="text" class="form-control" placeholder="Search Products by Name" aria-label="Recipient's username" aria-describedby="button-addon2"/>
				<div class="input-group-append">
				  <a class="btn btn-outline-success" type="submit" id="button-addon2" href="#" onclick="searching()">Search</a>
				</div>
			</div>
			<table class="table table-striped table-hover">
				<thead class="thead-dark">
					<tr>
						<th>Product Name</th>
						<th>Move/Show</th>
						<th>Rarity</th>
						<th>Date of Production</th>
						<th>Price</th>
						<th>Actions</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="product : ${products}">
						<td th:text="${product.nameOfObject}"></td>
						<td th:text="${product.showName}"></td>
						<td th:text="${product.rarityValue}"></td>
						<td th:text="${product.dateOfProduction}"></td>
						<td th:text="${product.price}"></td>
						<td align="center">
							<a id="actionButton" th:href="@{/products/update/{id} (id=${product.id})}" class="btn btn-primary">Edit</a>
							<a id="actionButton" th:href="@{/products/delete/{id} (id=${product.id})}" class="btn btn-danger">Delete</a>
						</td>
					</tr>
				</tbody>
			</table>
			
			<form action="#" th:action="@{showAddNewProduct}" method="get">
			<button type="submit">Add Product</button>
			<br>
	</body>
</html>